<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>CEES Cursos - Login</title>
		<link rel="stylesheet" href="resources/css/general.css"/>
		<link rel="stylesheet" href="resources/css/login.css"/>
	</head>
	<body>

		<div class="login-content">
			<div class="login">
				<div class="logo-content">
					<div class="logo">
						<img src="resources/img/logo-cees-login.png"/>
					</div>
					<div class="name-cees">
						<span>CENTRO ESPECIALIZADO ESPAÇO SORRISO</span>
					</div>
				</div>
				<div class="form-content">
					<form class="form" method="post">
						<div class="form-title">
							<span>Entrar</span>
						</div>
						<div class="form-inputs">
							<input id="nameForm" type="text" placeholder="Nome" name="name" required>
							<input id="passwordForm" type="password" placeholder="Senha" name="password" required>
							<input type="submit" value="Entrar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script src="resources/js/login.js"></script>
</html>