<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cees Cursos - Sistema</title>
	<link rel="stylesheet" href="resources/css/general.css"/>
	<link rel="stylesheet" href="resources/css/main.css"/>
	<link rel="icon" href="resources/img/icon-cees.png"/>
</head>
<body>
	<div class="general">
		<nav class="navegation">
			<div class="logo-cees">
				<img src="https://i.imgur.com/SYDXHEE.png"/>
			</div>
			<div class="title-navegation">
				<span>Navegação</span>
			</div>
			<ul class="menu">
				<li>
					<div class="option-menu">
						<div class="icon-and-text-li">
							<div class="icon-li-menu">
								<img src="resources/img/icon-home.svg"/>
							</div>
							<div class="text-li">Dashboard</div>
						</div>
					</div>
				</li>
				<li>
					<div class="option-menu">
						<div class="icon-and-text-li">
							<div class="icon-li-menu">
								<img src="resources/img/icon-calendar.svg"/>
							</div>
							<div class="text-li">Comercial</div>
						</div>
					</div>
				</li>
				<li>
					<div class="option-menu">
						<div class="icon-and-text-li">
							<div class="icon-li-menu">
								<img src="resources/img/icon-people.svg"/>
							</div>
							<div class="text-li">Matrículas</div>
						</div>
					</div>
				</li>
				<li>
					<div class="option-menu">
						<div class="icon-and-text-li">
							<div class="icon-li-menu">
								<img src="resources/img/icon-cube.svg"/>
							</div>
							<div class="text-li">Atendimento</div>
						</div>
					</div>
				</li>
				<li>
					<div class="option-menu">
						<div class="icon-and-text-li">
							<div class="icon-li-menu">
								<img src="resources/img/icon-book.svg"/>
							</div>
							<div class="text-li">Contrato</div>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<main>
			<header>
				<div class="notifications">
					<div class="icon-notification">
						<img src="resources/img/icon-notification-on.svg"/>
					</div>
					<div class="text">
						<div class="alert-notification"></div>
						Notificações
					</div>
				</div>
				<div class="profile">
					<div class="options-profile">
						<img src="resources/img/icon-settings.svg"/>
						<img src="resources/img/icon-logout.svg"/>
					</div>
					<div class="icon-user">
						<img src="resources/img/icon-user.svg"/>
					</div>
					<div class="login-off">
						Entrar
					</div>
					<div class="login-on">
						Name
					</div>
				</div>
			</header>
			<div class="content">
				<div class="time-control">
					<ul class="auxiliary-menu">
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Segunda</span>
						</li>
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Terça</span>
						</li>
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Quarta</span>
						</li>
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Quinta</span>
						</li>
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Sexta</span>
						</li>
						<li>
							<span><img src="resources/img/atendimento/brinde.svg"></span>
							<span>Sábado</span>
						</li>
					</ul>
					<div class="free-time">
						<div class="title">
							Horários Disponíveis - Segunda Feira
						</div>
						<div class="times">
							<div class="time">
								<div class="time-amounts">
									02
								</div>
								<div class="time-text">
									08H ÁS 10H
								</div>
							</div>
							<div class="time">
								<div class="time-amounts">
									02
								</div>
								<div class="time-text">
									08H ÁS 10H
								</div>
							</div>
							<div class="time">
								<div class="time-amounts">
									02
								</div>
								<div class="time-text">
									08H ÁS 10H
								</div>
							</div>
							<div class="time">
								<div class="time-amounts">
									02
								</div>
								<div class="time-text">
									08H ÁS 10H
								</div>
							</div>
							<div class="time">
								<div class="time-amounts">
									02
								</div>
								<div class="time-text">
									08H ÁS 10H
								</div>
							</div>
						</div>
					</div>
					<div class="list-hours-content bar-succinct">
						<div class="list-hours">
							<div class="titles-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="time-title">
									08h ás 10h
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Dayanne</span>
									</div>
									<div class="student">
										<span>Afonso</span>
									</div>
									<div class="student">
										<span>Fábio</span>
									</div>
									<div class="student">
										<span>Victor</span>
									</div>
									<div class="student">
										<span>João Paulo</span>
									</div>
									<div class="student">
										<span>Fábio</span>
									</div>
									<div class="student">
										<span>Victor</span>
									</div>
									<div class="student">
										<span>João Paulo</span>
									</div>
									<div class="student">
										<span>-</span>
									</div>
									<div class="student">
										<span>-</span>
									</div>
									<div class="student">
										<span>-</span>
									</div>
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
								</div>
							</div>
							<div class="hour-default">
								<div class="time-title">
									08h ás 10h
								</div>
								<div class="students">
									<div class="student">
										<span>Maria Fernanda</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
									<div class="student">
										<span>Enderson</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>