* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial';
	color: #242424;
}

:root {
	--color-primary: #303036;
	--color-secondary: #00B9AE;
	--color-tertiary: #FC5130;

	--color-succinct: #9c9c9c;
}