* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial';
	color: #2d2f38;
}

:root {
	--color-black-one: #07080d;
	--color-black-two: #252730;
	--color-black-three: #35373d;

	--color-blue-one: #011d4a;
	--color-blue-two: #0f52bd;
	--color-blue-three: #4089ff;

	--color-orange-one: #7d3602;
	--color-orange-two: #cf5d0a;
	--color-orange-three: #fc964c;

	--color-border-succinct: #cccaca;

	--color-check-one: #beffbd;
	--color-check-two: #70b36f;

	--color-error-one: #ffbdbd;
	--color-error-two: #b36f6f;

	--color-warning-one: #fcffbd;
	--color-warning-two: #b1b36f;

}

/*general*/

.general {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background: #dedede;
}

/*----Screens fixeds----*/

.fixed-screens {
	z-index: 999;
}

/*Alert*/

.alerts-content {
	position: fixed;
	right: 0px;
	top: 65px;
	pointer-events: none;
	height: 100vh;
	z-index: 9999;
}

.show-alert {
	position: relative;
	right: -100%;
	background: var(--color-error-one);
	width: 300px;
	height: 60px;
	border-radius: 4px;
	border: 2px solid var(--color-error-two);
	display: flex;
	padding: 5px;
	transition: right 0.8s;
	margin-bottom: 5px;
}

.show-alert .icon-alert {
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show-alert .message-alert {
	width: 100%;
	font-size: 0.8em;
	padding: 5px;
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show-alert .message-alert p {
	text-align: justify;
	vertical-align: middle;
}

/*login*/

.login-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.login {
	width: 570px;
	height: 370px;
	background: white;
	border-radius: 4px;
	display: flex;
}

.login-left {
	background: var(--color-black-two);
	width: 50%;
	height: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-top: 1px;
	display: flex;
	flex-direction: column;
}

.icon-cees-content {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.icon-cees-content  img {
	height: 100%;
}

.title-login {
	margin-top: 35px;
}

.title-login h1 {
	text-align: center;
	font-size: 1.3em;
	color: #d9d9d9;
}

.login-right {
	width: 50%;
	height: 100%;
	background: #dedede;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 10px;
}

.icon-user-login {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.icon-user-login div {
	background: var(--color-border-succinct);
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.icon-user-login div img {
	width: 70px;
}

.title-form-login {
	font-size: 1.3em;
	text-align: center;
	margin: 25px 0px;
}

.form-login .input-content {
	display: flex;
	height: 30px;
	margin-bottom: 20px;
}

.form-login .icon-content {
	background: var(--color-black-two);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-login .icon-content svg {
	width: 26px;
	height: auto;
}

.form-login input {
	width: 100%;
	background: var(--color-border-succinct);
	border: 0px;
	border-bottom: 2px solid var(--color-black-two);
	border-top-right-radius: 2px;
	text-indent: 10px;

}

.button-form-login {
	background: var(--color-black-two);
	width: 100%;
	height: 30px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
}

/*new record comercial*/

.new-record-comercial-background {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}

.form-comercial {
	width: 580px;
	height: calc(100vh - 20px);
	background: #ededed;
	padding: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 1fr 1fr 1fr 0.4fr;
	grid-template-areas:
	"title-form title-form" 
	"contact-one contact-two"
	"data-time description"
	"status-tag description"
	"buttons buttons";
	grid-row-gap: 15px;
	grid-column-gap: 15px;
}

.title-form {
	grid-area: title-form;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--color-border-succinct);
	display: flex;
	align-items: center;
}

.title-form span {
	font-size: 1.2em;
	justify-self: center;
}

.contact-one, .contact-two {
	background: var(--color-black-two);
	width: 100%;
	height: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	justify-self: center;
	align-self: center;
}

.contact-one {
	grip-area: contact-one;
}

.contact-two {
	grip-area: contact-two;
}

.title-contact {
	display: flex;
	flex-direction: column;
	height: 40%;
	color: white;
}

.title-contact span:nth-child(1){
	font-size: 1em;
	font-weight: bold;
}

.title-contact span:nth-child(2){
	font-size: 0.7em;
}

.input-contact-content {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input-contact-content input {
	border: 0;
	height: 25px;
	text-indent: 10px;
	border-radius: 2px;
	height: 45%;
	font-size: 0.8em;
}

.date-time {
	grid-area: data-time;
	justify-self: center;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--color-black-two);
	width: 100%;
	height: 100%;

}

.date-time input {
	background: var(--color-black-three);
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
}

.date-time input:nth-child(2){
	font-size: 1em;
}

.date-time input::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.status-tag {
	grid-area: status-tag;
	width: 100%;
	height: 100%;
	background: var(--color-black-two);
	padding: 15px;
}

.status-tag .status, .status-tag .etiqueta {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
}

.status-tag .status span, .status-tag .etiqueta span{
	color: white;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.status-tag .status select, .status-tag .etiqueta select{
	width: 100%;
	height: 50%;
	font-size: 0.8em;
}

.form-comercial .description {
	grid-area: description;
	background: var(--color-black-two);
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.title-description {
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
	overflow: hidden;
}

.form-comercial .description textarea {
	width: 100%;
	height: 100%;
	resize: none;
	padding: 5px;
}

.form-comercial .buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--color-border-succinct);
}

.form-comercial .buttons span {
	width: 38%;
	height: 40px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
}

.form-comercial .buttons span:nth-child(1) {
	background: linear-gradient(to right, #919090, #b8b8b8);
}

.form-comercial .buttons span:nth-child(2) {
	background: linear-gradient(to right, #07d900, #4cf249);
} 
/*navegation*/

.navegation {
	background: var(--color-black-two);
	width: 270px;
	height: 100%;
}

.logo-cees {
	width: 100%;
	height: 60px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-cees img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

/*title navegation*/

.title-navegation {
	padding: 10px 0px 10px 15px;
}

.title-navegation span {
	color: #636570;
	font-size: 1em;
}

/*menu*/

.menu {
	width: 100%;
	list-style: none;
}

.menu > li {
	width: 100%;
	min-height: 45px;
	margin-bottom: 10px;
	cursor: pointer;
}

.menu > li:hover {
	background: var(--color-black-three);
}

.option-menu {
	height: 45px;
}

.icon-and-text-li {
	display: flex;
	align-items: center;
	height: 100%;
}

.icon-li-menu {
	margin: 0px 5px 0px 5px;
}

.text-li {
	color: #999999;
	font-size: 1em;
	font-weight: 400px;
}

/*main*/

main {
	width: 80%;
}

main > header {
	width: 100%;
	height: 60px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

.notifications {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.icon-notification {
	width: 28px;
	height: 28px;
}

.notifications .text {
	color: #2d2f38;
	margin-left: 5px;
	position: relative;
}

.alert-notification {
	background: red;
	width: 6px;
	height: 6px;
	position: absolute;
	top: -2px;
	left: 100%;
	border-radius: 50%;
}

.profile {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 10px;
	position: relative;
}

.options-profile {
	position: absolute;
	background: #dedede;
	display: none;
	align-items: center;
	justify-content: space-around;
	top: 100%;
	left: calc(50% - 40px);
	border-radius: 3px;
	width: 80px;
	height: 40px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.options-profile img {
	width: 25px;
	cursor: pointer;
}

.icon-user {
	background: #bababa;
	width: 35px;
	height: 40px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
}

.icon-user img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.login-off, .login-on {
	margin-left: 10px;
	cursor: pointer;
}

.login-off {
	display: block;
}

.login-on {
	display: none;
}

/*dashboard*/

.dashboard {
	height: calc(100% - 60px);
	padding: 20px;
	display: block;
}

/*Estatisticas do mês*/

.statistics {
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;
}

.block-statistic {
	width: 180px;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.infos-statistic {
	width: 100%;
	height: 70%;
	display: flex;
}

.left-statistic, .right-statistic {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-statistic {
	display: flex;
	flex-direction: column;
	color: #dedede;
	font-size: 0.8em;
}

.time-statistic {
	width: 100%;
	height: 30%;
	border-top: 2px solid #dedede;
	display: flex;
	align-items: center;
	color: #dedede;
	font-size: 0.9em;
}

.icon-time-statistic img {
	width: 24px;
	margin-right: 5px;
	margin-left: 5px;
}

.block-statistic:nth-child(1){
	background: linear-gradient(to right, #f58d05, #fac678);
}

.block-statistic:nth-child(2){
	background: linear-gradient(to right, #18cd08, #81fa78);
}

.block-statistic:nth-child(3){
	background: linear-gradient(to right, #00b7ff, #70d3fa);
}

.block-statistic:nth-child(4){
	background: linear-gradient(to right, #770fff, #ac70fa);
}

/*visits*/

.visits-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px 0px 0px;
	height: calc(100% - 130px);
}

.visits {
	width: 70%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	background: #edebeb;
	border-radius: 2px;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.visits-title {
	color: #616263;
}

.visits-title div:nth-child(1){
	font-size: 1.2em;
}

.visits-title div:nth-child(2){
	font-size: 0.8em;
	color: #6d6d6e;
}

.list-visits {
	width: 100%;
	height: 100%;
	padding: 5px;
	overflow-y: auto;
	margin-top: 30px;
}

.list-visits::-webkit-scrollbar {
  width: 10px;
}

.list-visits::-webkit-scrollbar-track {
  background: #e6e3e3;
  border-radius: 15px;
}

.list-visits::-webkit-scrollbar-thumb {
  background-color: #bfbdbd;
  border-radius: 15px;
}

.item-list-dashboard .item-cell-list{
	height: 50px;
}

.item-list-dashboard .item-cell-list:nth-child(1),
.header-list-dashboard .item-cell-list:nth-child(1){
	width: 15%;
}

.item-list-dashboard .item-cell-list:nth-child(1) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-dashboard .item-cell-list:nth-child(2),
.header-list-dashboard .item-cell-list:nth-child(2){
	width: 30%;
}

.item-list-dashboard .item-cell-list:nth-child(2) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-dashboard .item-cell-list:nth-child(3),
.header-list-dashboard .item-cell-list:nth-child(3){
	width: 20%;
}

.item-list-dashboard .item-cell-list:nth-child(3) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-dashboard .item-cell-list:nth-child(4),
.header-list-dashboard .item-cell-list:nth-child(4){
	width: 20%;
	justify-content: center;
}

.item-list-dashboard .item-cell-list:nth-child(5),
.header-list-dashboard .item-cell-list:nth-child(5){
	width: 15%;
	justify-content: center;
}

.item-list-dashboard .item-cell-list:nth-child(1) span:nth-child(2),
.item-list-dashboard .item-cell-list:nth-child(2) span:nth-child(2),
.item-list-dashboard .item-cell-list:nth-child(3) span:nth-child(2){
	font-size: calc(0.7em + 1px);
}

/*Narrative*/

.narrative {
	width: 30%;
	height: 100%;
	background: #edebeb;
	border-radius: 2px;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

.narrative-individual, .narrative-collective {
	width: 100%;
	height: 100%;
	padding: 5px;
}

.narrative-individual {
	border-bottom: 1px solid var(--color-border-succinct);
}

.title-narrative {
	display: flex;
	flex-direction: column;
}

.title-narrative span:nth-child(1){
	font-size: 1.2em;
}

.title-narrative span:nth-child(2){
	font-size: 0.8em;
	color: #404147;	
}

.table-narrative {
	font-size: 0.8em;
	margin-top: 10px;
	border: 1px solid var(--color-border-succinct);
	border-collapse: collapse;
	width: 100%;
}

.table-narrative td {
	border: 1px solid var(--color-border-succinct);
}

.table-narrative tr td:nth-child(1){
	width: 50%;
}

.table-narrative tr td:nth-child(2){
	width: 50%;
	text-align: center;
}
/*Comercial*/

.records {
	height: calc(100% - 60px);
	padding: 20px;
	display: none;
}

.options-records {
	padding: 10px;
	width: 100%;
	height: 50px;
	display: flex;
	border-bottom: 2px solid var(--color-border-succinct);
}

.type-list-schedules {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-right: 2px solid var(--color-border-succinct);
}

.type-list-schedules span {
	color: white;
	padding: 5px 5px;
	border-radius: 4px;
	cursor: pointer;
}

.type-list-schedules span:nth-child(1){
	background: linear-gradient(to right, #00bbd9, #49d3f2);
}

.type-list-schedules span:nth-child(2){
	background: linear-gradient(to right, #d96500, #f2a649);
}

.type-list-schedules span:nth-child(3){
	background: linear-gradient(to right, #d90000, #f24949);
}

.type-list-schedules span:nth-child(4){
	background: linear-gradient(to right, #07d900, #4cf249);
}

.type-list-schedules span:nth-child(5){
	background: linear-gradient(to right, #919090, #b8b8b8);
}

.tools-records {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tools-records span {
	background: linear-gradient(to right, #8a5dfc, #8859ff);
	padding: 5px 10px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

/*List default css*/

.list-default {
	width: 100%;
}

.header-list-default, .item-list-default {
	width: 100%;
	display: flex;
}

.header-list-default {
	padding: 0px 10px;
	margin-bottom: 10px;
}

.item-list-default {
	background: #f0f0f0;
	padding: 0px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	font-size: 0.8em;
	margin-bottom: 10px;
}

.item-cell-list {
	display: flex;
	align-items: center;
}

/*list comercial*/

.status-agendamento {
	background: linear-gradient(to right, #00bbd9, #49d3f2);
}

.status-pendente {
	background: linear-gradient(to right, #d96500, #f2a649);
}

.status-sem-interesse {
	background: linear-gradient(to right, #d90000, #f24949);
}

.status-matricula {
	background: linear-gradient(to right, #07d900, #4cf249);
}

.status-inativo {
	background: linear-gradient(to right, #919090, #b8b8b8);
}

.list-comercial {
	margin-top: 10px;
	height: calc(100% - 50px);
	overflow-y: auto;
}

.list-comercial::-webkit-scrollbar {
  width: 10px;
}

.list-comercial::-webkit-scrollbar-track {
  background: #e6e3e3;
  border-radius: 15px;
}

.list-comercial::-webkit-scrollbar-thumb {
  background-color: #bfbdbd;
  border-radius: 15px;
}

.item-list-comercial .item-cell-list{
	height: 50px;
}

.item-list-comercial .item-cell-list:nth-child(1),
.header-list-comercial .item-cell-list:nth-child(1){
	width: 11%;
}

.item-list-comercial .item-cell-list:nth-child(1) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(2),
.header-list-comercial .item-cell-list:nth-child(2){
	width: 25%;
}

.item-list-comercial .item-cell-list:nth-child(2) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(3),
.header-list-comercial .item-cell-list:nth-child(3){
	width: 15%;
}

.item-list-comercial .item-cell-list:nth-child(3) {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(4),
.header-list-comercial .item-cell-list:nth-child(4){
	width: 12%;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(5),
.header-list-comercial .item-cell-list:nth-child(5){
	width: 12%;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(4),
.item-list-comercial .item-cell-list:nth-child(5) {
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(4) span,
.item-list-comercial .item-cell-list:nth-child(5) span{
	padding: 3px 5px;
	border-radius: 4px;
	color: white;
}

.item-list-comercial .item-cell-list:nth-child(5) span {
	background: purple;
}

.item-list-comercial .item-cell-list:nth-child(6),
.header-list-comercial .item-cell-list:nth-child(6){
	width: 25%;
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(6){
	justify-content: center;
}

.item-list-comercial .item-cell-list:nth-child(6) img {
	width: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.item-list-comercial .item-cell-list:nth-child(1) span:nth-child(2),
.item-list-comercial .item-cell-list:nth-child(2) span:nth-child(2),
.item-list-comercial .item-cell-list:nth-child(3) span:nth-child(2){
	font-size: calc(0.7em + 1px);
}

