/*----Screens fixeds----*/

.fixed-screens {
	z-index: 999;
}

/*loading*/

.loading-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.3);
	display: none;
	align-items: center;
	justify-content: center;
}

.loading-background > img {
	transform: scale(0);
	transition: transform 0.5s;
}

.icon-loading-small {
	background: #e0e0e0;
	border-radius: 15px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.icon-loading-small img {
	width: 80px;
}

/*Alert*/

.alerts-content {
	position: fixed;
	right: 0px;
	top: 65px;
	pointer-events: none;
	height: 100vh;
	z-index: 9999;
}

.show-alert {
	position: relative;
	right: -100%;
	background: var(--color-error-one);
	width: 300px;
	height: 60px;
	border-radius: 4px;
	border: 2px solid var(--color-error-two);
	display: flex;
	padding: 5px;
	transition: right 0.8s;
	margin-bottom: 5px;
	cursor: pointer;

	pointer-events: auto;
}

.show-alert .icon-alert {
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show-alert .message-alert {
	width: 100%;
	font-size: 0.8em;
	padding: 5px;
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show-alert .message-alert p {
	text-align: justify;
	vertical-align: middle;
}

/*confirm*/

.confirm-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.confirm {
	width: 300px;
	height: 200px;
	background: white;
	border-radius: 5px;
	transform: scale(0);
	transition: transform 0.3s;
}

.confirm-title {
	background-color: var(--color-black-two);
	height: 25%;
	padding: 10px;
	color: white;
	display: flex;
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.confirm-text {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	border-bottom: 1px solid var(--color-border-succinct);
}

.confirm-text p {
	text-align: justify;
}

.confirm-buttons {
	height: 25%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 0.8em;
}

.confirm-buttons span:nth-child(1){
	background: var(--color-error-one);
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}

.confirm-buttons span:nth-child(2){
	background: var(--color-check-one);
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}
/*login*/

.login-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.login {
	width: 570px;
	height: 370px;
	background: white;
	border-radius: 4px;
	display: flex;
	transform: scale(0);
	transition: transform 0.3s;
}

.login-left {
	background: var(--color-black-two);
	width: 50%;
	height: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-top: 1px;
	display: flex;
	flex-direction: column;
}

.icon-cees-content {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.icon-cees-content  img {
	height: 100%;
}

.title-login {
	margin-top: 35px;
}

.title-login h1 {
	text-align: center;
	font-size: 1.3em;
	color: #d9d9d9;
}

.login-right {
	width: 50%;
	height: 100%;
	background: #dedede;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 10px;
}

.icon-user-login {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.icon-user-login div {
	background: var(--color-border-succinct);
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.icon-user-login div img {
	width: 70px;
}

.title-form-login {
	font-size: 1.3em;
	text-align: center;
	margin: 25px 0px;
}

.form-login .input-content {
	display: flex;
	height: 30px;
	margin-bottom: 20px;
}

.form-login .icon-content {
	background: var(--color-black-two);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-login .icon-content svg {
	width: 26px;
	height: auto;
}

.form-login input {
	width: 100%;
	background: var(--color-border-succinct);
	border: 0px;
	border-bottom: 2px solid var(--color-black-two);
	border-top-right-radius: 2px;
	text-indent: 10px;

}

.button-form-login {
	background: var(--color-black-two);
	width: 100%;
	height: 30px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
}

/*new record comercial*/

.new-record-comercial-background {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}

.form-comercial {
	width: 580px;
	height: calc(100vh - 20px);
	background: #ededed;
	padding: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 1fr 1fr 1fr 0.4fr;
	grid-template-areas:
	"title-form title-form" 
	"contact-one contact-two"
	"data-time description"
	"status-tag description"
	"buttons buttons";
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	transform: scale(0);
	transition: transform 0.3s;
}

.title-form {
	grid-area: title-form;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--color-border-succinct);
	display: flex;
	align-items: center;
}

.title-form span {
	font-size: 1.2em;
	justify-self: center;
}

.contact-one, .contact-two {
	background: var(--color-black-two);
	width: 100%;
	height: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	justify-self: center;
	align-self: center;
}

.contact-one {
	grip-area: contact-one;
}

.contact-two {
	grip-area: contact-two;
}

.title-contact {
	display: flex;
	flex-direction: column;
	height: 40%;
	color: white;
}

.title-contact span:nth-child(1){
	font-size: 1em;
	font-weight: bold;
}

.title-contact span:nth-child(2){
	font-size: 0.7em;
}

.input-contact-content {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input-contact-content input {
	border: 0;
	height: 25px;
	text-indent: 10px;
	border-radius: 2px;
	height: 45%;
	font-size: 0.8em;
}

.date-time {
	grid-area: data-time;
	justify-self: center;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--color-black-two);
	width: 100%;
	height: 100%;

}

.date-time input {
	background: var(--color-black-three);
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
}

.date-time input:nth-child(2){
	font-size: 1em;
}

.date-time input::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.status-tag {
	grid-area: status-tag;
	width: 100%;
	height: 100%;
	background: var(--color-black-two);
	padding: 15px;
}

.status-tag .status, .status-tag .etiqueta {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
}

.status-tag .status span, .status-tag .etiqueta span{
	color: white;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.status-tag .status select, .status-tag .etiqueta select{
	width: 100%;
	height: 50%;
	font-size: 0.8em;
}

.form-comercial .description {
	grid-area: description;
	background: var(--color-black-two);
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.title-description {
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
	overflow: hidden;
}

.form-comercial .description textarea {
	width: 100%;
	height: 100%;
	resize: none;
	padding: 5px;
}

.form-comercial .buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--color-border-succinct);
}

.form-comercial .buttons span {
	width: 38%;
	height: 40px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
}

.form-comercial .buttons span:nth-child(1) {
	background: linear-gradient(to right, #919090, #b8b8b8);
}

.form-comercial .buttons span:nth-child(2) {
	background: linear-gradient(to right, #07d900, #4cf249);
} 